h3 {
  text-align: center;
}

form {
  max-width: 90vw;
  margin: 0 auto;
}

.file-input-label {
  font-size: larger;
}

.file-input {
  margin-top: 5px;
}

ion-datetime-button {
  justify-content: start;
  margin-top: 5px;
}